

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;

  line-height: 1.5;
  font-weight: 400;

  background-color: #000000;
  color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}



input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

textarea {
  resize: vertical;
}



a {
  color: inherit;
  text-decoration: none;
}



ul,
ol {
  list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}



#root {
  min-height: 100vh;
  isolation: isolate;
}



:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}


::-webkit-scrollbar {
  width: 2px;
  height: 3px;

}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}